/* .bottom-bar {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.bottom-bar nav {
  margin: 30px;
} */


@media (min-width:451px) and (max-width: 850px) {
  .nav-bar {
    padding-top: 22px;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    background-color: #fec00f;
    height: 50px;
  }
  .nav-bar span {
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
  }

  .footer {
    /* position: absolute; */
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .container span {
    margin: 10px;
    font-size: 19px;
  }
  .footer button {
    /* position: relative; */
    margin: 1px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 35%;
    font-size: larger;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fec00f;
  }
  .footer-nav {
    /* position: sticky; */
    margin: -280px auto;
    width: 80%;
  }
}

@media (min-width: 300px) and (max-width: 450px) {
  .nav-bar {
    padding-top: 22px;
    text-align: center;
    font-weight: 900;
    font-size: 21px;
    background-color: #fec00f;
    height: 40px;
  }
  .nav-bar span {
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
  }

  .footer {
    /* position: absolute; */
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .container span {
    margin: 10px;
  }
  .footer button {
    /* position: relative; */
    margin: 1px auto;

    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fec00f;
  }
  .footer-nav {
    /* position: sticky; */
    margin: -280px auto;
    width: 80%;
  }
}

@media (min-width: 200px) and (max-width: 299px) {
  .nav-bar {
    padding-top: 22px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    background-color: #fec00f;
    height: 37px;
    width: 100%;
  }
  .nav-bar span {
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 17px auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }

  .footer {
    /* position: absolute; */
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .container span {
    margin: 10px;
  }
  .footer button {
    /* position: relative; */
    margin: 1px auto;

    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fec00f;
  }
  .footer-nav {
    /* position: sticky; */
    margin: -280px auto;
    width: 60%;
  }
}
