/* .container {
  width: 100%;
  overflow-x: auto; 
  padding: 10px;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-container {
  display: flex;
  align-items: center;
}
.select-container select {
  width: 100%;
  padding: 5px;
}

.btn-button {
  border-color: aliceblue;
  border-radius: 10px;
}
.button-camera {
  display: flex;
}
.button-camera i {
  width: 30%;
}
.button-camera span {
  margin-left: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}
.table-responsive {
  overflow-x: auto;
  background-color: aliceblue;
  border: 1px solid bisque;
  border-collapse: collapse;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    float: left;
  }
  .table-responsive {
    width: 100%;
  }

  .table-responsive table {
    width: 100%;
    float: left;
  }

  .table-responsive th,
  .table-responsive td {
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .container {
    overflow-x: auto;
    width: 100%;
    float: left;
  }

  .mat-header-row,
  .mat-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  td.mat-cell,
  th.mat-header-cell {
    flex-basis: 100%;
    text-align: center;
  }

  th.mat-header-cell,
  td.mat-cell,
  select {
    font-size: 14px;
  }
} */

* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}
body {
  background-color: wheat;
  font-family: sans-serif;
}
.table-container {
  padding: 0 10%;
  margin: 40px auto 0;
}
.heading {
  font-size: 120%;
  text-align: center;
  color: yellowgreen;
  margin-bottom: 40px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  background-color: aliceblue;
}
.table thead tr th {
  font-size: 12px;
  font-weight: medium;
  letter-spacing: 0.3px;
  color: #000;
  opacity: 1;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #dee2;
}
.table tbody tr td {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: normal;
  color: black;
  background-color: #3c3f44;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2;
}
.table tbody tr td .btn {
  width: 120px;
  text-decoration: none;
  line-height: 20px;
  display: inline-block;
  background-color: antiquewhite;
  font-weight: medium;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 12px;
  opacity: 1;
}
@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 12px;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
  }
}
