<div>
    <div class="nav-bar">
      <span> Report </span>
    </div>
  
    <div class="header">
      <span>
        Institute name /institute id: Sankaralingam Bhuwaneswari College of
        Pharmacy Anaikuttam Via Sivakasi Viruthunagar Dist/ PCI-1882
      </span>
    </div>
  
    <div class="container">
      <span> College Name : ABC</span> <br />
      <span> Address : Address 123</span> <br />
      <span> State : UP</span> <br />
      <span> PCI ID : PCI-001</span> <br />
      <span> Courses : D Pharm / B Pharm </span><br />
    </div>
  
    <div class="footer">
      <!-- <button>Submit</button> -->
    </div>
  
    <div class="bottom-bar">
      <div class="footer-nav">
        <app-bottom-bar></app-bottom-bar>
      </div>
    </div>
  </div>
  