.splash-container {
  text-align: center;
  margin-left: 40px;
  margin-top: 200px;
  margin-bottom: 20px;
  align-items: center;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.splash-container img {
  background-color: white;
  width: 75%;
  height: 75%;
  top: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .splash-container img {
    margin: auto;
    top: 40%;
    left: auto;
    right: auto;
    /* padding: 10px; */
  }
}
