<div>
  <div class="nav-bar">
    <span> Attachment</span>
  </div>

  <div class="header">
    <span>
      Mode of Travel <b>onward journey</b> :
      <select name="travel" id="">
        <option value="travelMode1">Flight</option>
        <option value="travelMode2">Train</option>
      </select>
    </span>
  </div>

  <div class="container">
    <span> Ticket Upload : <input type="file" /> </span> <br />
    <span> Bill Upload : <input type="file" /> </span> <br />
  </div>
  <div class="header">
    <span>
      Mode of Travel <b>return journey</b> :
      <select name="travel" id="">
        <option value="travelMode1">Flight</option>
        <option value="travelMode2">Train</option>
      </select>
    </span>
  </div>

  <div class="container">
    <span> Ticket Upload : <input type="file" /> </span> <br />
    <span> Bill Upload : <input type="file" /> </span> <br />
    <span> Other uploads : <input type="text" /> <input type="file" /> </span>
    <br />
  </div>

  <div class="footer">
    <button (click)="navigate()">Submit</button>
  </div>

  <div class="bottom-bar">
    <nav>Home</nav>
    <nav>Dashboard</nav>
    <nav>Profile</nav>
  </div>
</div>
