/* .nav-bar {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  background-color: #fec00f;
  height: 40px;
}
.nav-bar span {
  margin-top: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.header {
  margin: 20px auto;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container span {
  margin: 10px;
}
.footer {
  position: absolute;
  margin: 50px 10px;
  justify-content: center;
  align-items: center;
}
.footer button {
  position: relative;
  margin: 20px auto;
  justify-content: center;
  align-items: center;

  text-align: center;
  text-transform: uppercase;

  display: flex;
  width: 60%;
  padding: 0px 15.5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  background: #fec00f;
}
.bottom-bar {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.bottom-bar nav {
  margin: 30px;
}
@media (max-width: 350px) {
  .footer-nav {
    margin-left: 30px;
    width: 80%;
    padding: 0;
    margin-top: -320px;
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .footer-nav {
    margin-left: 60px;
    width: 80%;
    padding: 0;
    margin-top: -320px;
    margin-bottom: 0px;
  }
} */

/* @media (max-width: 768px) {
  body {
    font-size: 30px;
  }
  .nav-bar {
    text-align: center;
    font-weight: 900;
    font-size: 41px;
    background-color: #fec00f;
    height: 60px;
  }
  .nav-bar span {
    margin-top: 82px;
    margin-bottom: 9px;
    text-align: bottom;
    justify-content: bottom;
    align-items: center;
  }
  .header {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 31px;
  }

  .footer {
    position: absolute;
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .container span {
    margin: 10px;
  }
  .footer button {
    position: relative;
    margin: 1px auto;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 75%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #fec00f;
  }
  .footer-nav {
    position: sticky;
    margin: -480px auto;
    width: 80%;
  }
  input {
    height: 40px;
  }
  select {
    height: 40px;
    width: 80px;
  }
} */

@media (min-width: 451px) and (max-width: 850px) {
  .nav-bar {
    padding-top: 22px;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    background-color: #fec00f;
    height: 50px;
  }
  .nav-bar span {
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
  }

  .footer {
    /* position: absolute; */
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container span {
    margin: 10px;
    font-size: 19px;
  }
  .left {
    justify-content: flex-start;
    text-align: left;
  }
  .center {
    justify-content: center;
    text-align: center;
  }
  .right {
    justify-content: end;
    text-align: end;
  }
  .footer button {
    /* position: relative; */
    margin: 1px auto;

    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 40%;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fec00f;
  }
  .footer-nav {
    /* position: sticky; */
    margin: -280px auto;
    width: 80%;
  }
}

@media (min-width: 300px) and (max-width: 450px) {
  .nav-bar {
    padding-top: 22px;
    text-align: center;
    font-weight: 900;
    font-size: 21px;
    background-color: #fec00f;
    height: 40px;
  }
  .nav-bar span {
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
  }

  .footer {
    /* position: absolute; */
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .container span {
    margin: 10px;
  }
  .left {
    justify-content: flex-start;
    text-align: left;
  }
  .center {
    justify-content: center;
    text-align: center;
  }
  .right {
    justify-content: end;
    text-align: end;
    align-items: end;
  }
  .footer button {
    /* position: relative; */
    margin: 1px auto;

    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 40%;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fec00f;
  }
  .footer-nav {
    /* position: sticky; */
    margin: -280px auto;
    width: 80%;
  }
}

@media (min-width: 200px) and (max-width: 299px) {
  .nav-bar {
    padding-top: 22px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    background-color: #fec00f;
    height: 37px;
    width: 100%;
  }
  .nav-bar span {
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 17px auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }

  .footer {
    /* position: absolute; */
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container span {
    margin: 10px;
  }
  .left {
    justify-content: flex-start;
    text-align: left;
  }
  .center {
    justify-content: center;
    text-align: center;
  }
  .right {
    justify-content: end;
    text-align: end;
  }
  .footer button {
    /* position: relative; */
    margin: 1px auto;

    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 50%;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fec00f;
  }
  .footer-nav {
    /* position: sticky; */
    margin: -280px auto;
    width: 60%;
  }
}
@media screen and (max-height: 700px) {
  .footer-nav {
    position: absolute;
    margin: 20px;
    width: 80%;
    padding: 8px;
  }
}
@media screen and (min-height: 701px) and (max-height: 800px) {
  .footer-nav {
    position: absolute;
    margin: 2px 43px;
    width: 80%;
  }
}
@media screen and (min-height: 801px) and (max-height: 900px) {
  .footer-nav {
    position: absolute;
    margin: 10px 38px;
    width: 80%;
  }
}
@media screen and (min-height: 901px) and (max-height: 1001px) {
  .footer-nav {
    position: absolute;
    margin: 10px 33px;
    width: 80%;
  }
}
@media screen and (min-height: 1002px) and (max-height: 1101px) {
  .footer-nav {
    position: absolute;
    margin: 10px 67px;
    width: 80%;
  }
}
@media screen and (min-height: 1102px) and (max-height: 1220px) {
  .footer-nav {
    position: absolute;
    margin: 10px 61px;
    width: 80%;
  }
}
@media screen and (min-height: 1221px) and (max-height: 1420px) {
  .footer-nav {
    position: absolute;
    margin: 1090px 81px;
    width: 80%;
  }
}
