.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}
.scrollable-container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 8px;
}
.grid-item .c1 {
  padding: 16px;
  position: absolute;
  width: 278px;
  height: 110px;
  left: calc(50% - 318px / 2);
  top: calc(50% - 139px / 2 - 169.5px);

  background-color: #d2a32d;
  border-radius: 15px;
}
.grid-item .c1 div {
  position: absolute;
  width: 70px;
  height: 22px;
  left: calc(50% - 170px / 2);
  top: calc(50% - 22px / 2);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 68px;
  /* or 284% */

  display: flex;
  align-items: center;

  color: #841c1c;
}
.grid-item .c1 img {
  position: absolute;
  width: 42px;
  height: 54px;
  left: 195px;
  top: 39px;

  border-radius: 7px;
}
.grid-item .c2 {
  padding: 16px;

  position: absolute;
  width: 278px;
  height: 110px;
  left: calc(50% - 348px / 2 + 15px);
  top: calc(50% - 139px / 2 - 22.5px);

  background: #d8b354;
  border-radius: 15px;
}
.grid-item .c2 div {
  position: absolute;
  width: 170px;
  height: 22px;
  left: calc(50% - 170px / 2);
  top: calc(50% - 22px / 2);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 68px;
  /* or 284% */

  display: flex;
  align-items: center;

  color: #7e2e2e;
}
.grid-item .c2 img {
  position: absolute;
  width: 42px;
  height: 54px;
  left: 195px;
  top: 39px;

  border-radius: 7px;
}
.grid-item .c3 {
  padding: 16px;

  position: absolute;
  width: 278px;
  height: 110px;
  left: calc(50% - 348px / 2 + 15px);
  top: calc(50% - 139px / 2 + 124.5px);

  background: #d8b354;
  border-radius: 15px;
}
.grid-item .c3 div {
  position: absolute;
  width: 170px;
  height: 22px;
  left: calc(50% - 170px / 2);
  top: calc(50% - 22px / 2);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 68px;
  /* or 284% */

  display: flex;
  align-items: center;

  color: #7e2e2e;
}
.grid-item .c3 img {
  position: absolute;
  width: 42px;
  height: 54px;
  left: 195px;
  top: 39px;

  border-radius: 7px;
}
.grid-item .c4 {
  padding: 16px;

  position: absolute;
  width: 278px;
  height: 110px;

  left: calc(50% - 348px / 2 + 15px);
  top: calc(50% - 139px / 2 + 271.5px);

  background: #c5bc70;
  border-radius: 15px;
}
.grid-item .c4 div {
  position: absolute;
  width: 170px;
  height: 22px;
  left: calc(50% - 170px / 2);
  top: calc(50% - 22px / 2);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 68px;
  /* or 284% */

  display: flex;
  align-items: center;

  color: #7e2e2e;
}
.grid-item .c4 img {
  position: absolute;
  width: 42px;
  height: 54px;
  left: 195px;
  top: 39px;
  /* z-index: 0; */
  border-radius: 7px;
}
.footer-nav {
  position: absolute;
  margin-top: 800px;
  width: 80%;
  padding: 0;
  /* z-index: 1; */
  /* margin-top: 750px; */
  /* margin-bottom: 0px; */
}
@media (max-width: 768px) {
  .footer-nav {
    position: absolute;
    margin-top: 800px;
    width: 80%;
    padding: 0;
  }
}
@media screen and (max-height: 700px) {
  .footer-nav {
    position: absolute;
    margin: 680px 20px;
    width: 80%;
    padding: 8px;
  }
}
@media screen and (min-height : 701px)  and (max-height: 800px) {
  .footer-nav {
    position: absolute;
    margin: 750px 43px;
    width: 80%;
  }
}
@media screen and (min-height : 801px)  and (max-height: 900px) {
  .footer-nav {
    position: absolute;
    margin: 810px 38px;
    width: 80%;
  }
}
@media screen and (min-height : 901px)  and (max-height: 1001px) {
  .footer-nav {
    position: absolute;
    margin: 840px 33px;
    width: 80%;
  }
}
@media screen and (min-height : 1002px)  and (max-height: 1101px) {
  .footer-nav {
    position: absolute;
    margin: 910px 67px;
    width: 80%;
  }
}
@media screen and (min-height : 1102px)  and (max-height: 1220px) {
  .footer-nav {
    position: absolute;
    margin: 1010px 61px;
    width: 80%;
  }
}
@media screen and (min-height : 1221px)  and (max-height: 1420px) {
  .footer-nav {
    position: absolute;
    margin: 1090px 81px;
    width: 80%;
  }
}

