.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.grid-container {
  margin-top: 60px;
  position: static;
  display: flex;
  flex-wrap: wr1ap;
  flex-direction: column;
  top: 10px;
}
.grid-item {
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.grid-item h2 {
  position: relative;
  top: 55px;
  left: 80px;
}
.grid-item img {
  width: 42px;
  height: 54px;
  margin-top: 60px;
}
/* .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-item {
  margin: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.grid-item h2 {
  margin-left: 10px;
}

.grid-item img {
  width: 42px;
  height: 54px;
  margin-left: 10px;
} */
@media (max-width: 768px) {
  .grid-container {
    margin-top: 120px;
    position: relative;
    top: 30px;
  }
  .grid-item {
    margin: 12px;
    padding: 12px;
  }
  .grid-item h2 {
    position: relative;
    top: 25px;
    left: 280px;
  }
  .grid-item h4 {
    position: relative;
    top: 55px;
    left: 80px;
  }
  .grid-item img {
    width: 42px;
    height: 54px;
  }
}

@media (max-width: 600px) {
  .grid-container {
    margin: 10px;
    top: 20px;
  }
  .grid-item {
    margin: 12px;
    padding: 12px;
  }
  .grid-item h2 {
    position: relative;
    top: 35px;
    left: 60px;
  }
  .grid-item h4 {
    position: relative;
    top: 55px;
    left: 80px;
  }
  .grid-item img {
    width: 42px;
    height: 54px;
  }
}
.sideNav {
  margin-bottom: 100px;
  position: absolute;
  bottom: 100px;
}
.scrollable-container {
  overflow-y: auto;
}
