.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.red {
  background-color: red;
}
.orange {
  background-color: orangered;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
@media (max-width: 600px) {
  .grid-container {
    margin: 10px;
  }

  .dashboard-card {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}
