<div class="scrollable-container">
  <div class="sideNav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="heading">
    <h1>List of Institutions for Inspection</h1>
  </div>

  <div class="grid-container">
    <div
      class="grid-item"
      *ngFor="let item of gridConfig; let i = index"
      (click)="openTable(item.id)"
      [style.backgroundColor]="getColor(i)"
    >
      <img [src]="item.image" alt="image" />
      <h2>{{ item.name }}</h2>
    </div>
  </div>
</div>
<!-- <div class="grid-container">
    <h1 class="mat-h1"></h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile
        *ngFor="let card of cards | async"
        [colspan]="card.cols"
        [rowspan]="card.rows"
      >
        <mat-card
          (click)="openTable(card.id)"
          class="dashboard-card"
          id="card{{ card.id }}"
          [style.backgroundColor]="card.color"
        >
          <mat-card-header>
            <mat-card-title>
              {{ card.title }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>{{ card.name }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div> -->
