<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
  rel="stylesheet"
/>

<header>
  <a href="#" class="logo"><i class="ri-home-2-fill"></i><span></span></a>
  <ul class="navbar">
    <li><a href="#" class="active">home</a></li>
    <li><a href="#">log out</a></li>
  </ul>
  <div class="main">
    <a href="#" class="user"
      ><i class="ri-user-3-fill"></i><span>Profile</span></a
    >
    <div class="bx bx-menu" id="menuicon"></div>
  </div>
</header>
