<div>
  <div class="nav-bar">
    <span> Traveling Allowance </span>
  </div>

  <div class="header">
    <span> Source onward Journey </span>
  </div>

  <div class="container">
    <span> Departure Station : <input type="text" /> </span> <br />
    <span> Date and time : <input type="date" /> <input type="time" /> </span>
    <br />
    <span>
      Arrival Station :
      <input type="text" />
    </span>
    <br />
    <span> Date and time : <input type="date" /> <input type="time" /> </span>
    <span>
      Mode of Journey :
      <select name="journey" id="">
        <option value="option5">Flight</option>
        <option value="option6">Train</option>
        <option value="option7">Bus</option>
      </select> </span
    ><br />
    <span>
      Fair (Rs.):
      <input type="text" placeholder="Amount in rupees" />
    </span>
  </div>

  <div class="header">
    <span> Destination return Journey </span>
  </div>
  <div class="container">
    <span> Departure Station : <input type="text" /> </span> <br />
    <span> Date and time : <input type="date" /> <input type="time" /> </span>
    <br />
    <span>
      Arrival Station :
      <input type="text" />
    </span>
    <br />
    <span> Date and time : <input type="date" /> <input type="time" /> </span>
    <span>
      Mode of Journey :
      <select name="journey" id="">
        <option value="option5">Flight</option>
        <option value="option6">Train</option>
        <option value="option7">Bus</option>
      </select> </span
    ><br />
    <span>
      Fair (Rs.):
      <input type="text" placeholder="Amount in rupees" />
    </span>
    <span style="font-weight: 800"
      >Total Sum : <i>sum will be fetched</i>
    </span>
  </div>
  <div class="footer">
    <button (click)="navigate()">Submit</button>
  </div>

  <div class="bottom-bar">
    <nav>Home</nav>
    <nav>Dashboard</nav>
    <nav>Profile</nav>
  </div>
</div>
